:root {
    --grey: rgb(205, 205, 205); 
    --lightblack: rgb(30, 30, 30);
    --rust: rgb(203, 196, 177); 
    --green: rgb(181, 188, 183);
    --yellow: rgb(231, 220, 166);
}

body {
    background-image: url('images/forest.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 h2 {
    font-family: 'Red Hat Display', sans-serif;
}

.task-input {
    border-bottom: .5px solid var(--lightblack);
    border-top: .5px solid var(--lightblack);
    font-size: 18px;
}

.hour {
    background-color: var(--rust);
    border-bottom: .5px solid black;
    border-top: .5px solid black;
}


.clearBtn {
    border-radius: 8px;
    height: 45px;
}

.past {
    background-color: var(--grey);
}

.present {
    background-color: var(--yellow);
}

.future {
    background-color: var(--green);
}

button {
    background-color: var(--rust);
    border: 0;
    border-bottom: .5px solid var(--lightblack);
    border-top: .5px solid var(--lightblack);
}